
body {
  background-color:#00b3e6 ;
}


div {
  width: 700px;
  margin: auto;
  padding:30px;
  background-color: white;
  font-family:Helvetica Neue;
}

#main-header{
  color: red;
  font-size:22px;
  font-style:italic;
}


.perspective-questions {
  font-style: italic;

  
}
